<div class="hero-unit center">
	<h1>Sign In</h1>
	<%= form_for :session, url: sessions_path , :html => {:class => "form-horizontal span6 offset2"} do |f| %>
	<div class="control-group">
			<%= f.label :email, class: "control-label"%>
			<%= f.text_field :email, class: "control" %>
	</div>
	
	<div class="control-group">
			<%= f.label :password, class: "control-label"%>
			<%= f.password_field :password, class: "control" %>
	</div>
	
	<%= f.submit  "Sign in", class: "btn btn-primary"%>
	<% end %>
	<P>New User? <%= link_to "Sign up now!", signup_path %>
</div>
