<div class="hero-unit">
	<h1>Search Result</h1>
	<div>
		<p>
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>User</td>
						<td>Tweet</td>
						<td>Time</td>
					</tr>
					<% @tweets.each do |t| %>
					<tr class="<%= cycle("odd", "even") -%>">
						<td><%= t.from_user %></td>
						<td><%= t.full_text %></td>
						<td><%= t.attrs[:created_at] %></td>
					</tr>
					<% end %>
				</tbody>
			</table>		
		</p>
	</div>
	<%= link_to "Back", current_user, :class => "btn btn-primary" %>
</div>